<form action='/links' method='post'>
  <label for='Title'>
    Title
    <input type='text' name='Title'>
  </label>
  <label for='Link'>
    Link
    <input type='text' name='Link'>
  </label>
  <label for='Tag'>
    Tag
    <input type='text' name='Tag'>
  </label>
    <button value='submit'>Submit</button>
</form>
